tags
test.sh
.luarc.json

spell/
lazy-lock.json
.DS_Store
claude/projects
claude/statsig
claude/todos
claude/local
claude/shell-snapshots/
claude/.credentials.json
claude/plugins

fish/fish_variables
